.wrapper {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 20px;
    font-family: 'Roboto Condensed';
    /* border-style: solid; */
}

.row {
    display: flex;
    margin-top: 5%;
}

#landing_navbar {
    text-align: left;
    background-color: lightblue;
    border-style: outset;
}

#contenedor {
    text-align: justify;
}

.card {
    width: 50%;
}

.card-img {
    display: block; 
    margin: auto;
}

#borde_parrafo {
    margin-left: 10%;
    margin-right: 5%;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.bar-content {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#btn_irRegistro {
    margin-top: 300%;
    margin-left: 28%;
}

#camposregistro{
    border-style: solid;
    width: 380px;
    padding: 10px 10px 10px 10px;
    background-color:lightgrey;
    text-align: left;
    
}